<style>
  dt h3 {
    color: black;
    font-family: "Open Sans Condensed",sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  dt h3 a, dt h3 a:visited{
    text-decoration: underline;
    color: black;
  }
</style>

<div class="row">
  <div class="column">
    <dl>
      <dt><h3><a href="los-angeles.html">Los Angeles</a></h3></dt>
      <dt><h3><a href="bangalore.html">Bangalore</a></h3></dt>
      <dt><h3><a href="paris.html">Paris</a></h3></dt>
      <dt><h3><a href="beijing.html">Beijing</a></h3></dt>
      <dt><h3><a href="chicago.html">Chicago</a></h3></dt>
      <dt><h3><a href="london.html">London</a></h3></dt>
      <dt><h3><a href="boston.html">Boston</a></h3></dt>
      <dt><h3><a href="washington.html">Wash. DC</a></h3></dt>
      <dt><h3><a href="seoul.html">Seoul</a></h3></dt>
    </dl>
  </div>
  <div class="column column-60">
    {{{content}}}
  </div>
</div>

